.header{
    background-color: #196082;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: fixed;
    width: 100%;
    z-index: 2;
    color: #ffffff;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
    transition: all 0.7s ease-out;
}
.logo{
    background-image: url('../assests/images/logo.png');
    background-repeat: no-repeat;
    background-size: 50px;
    width: 60px;
    height: 44px;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.title{
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 2px;
}
.subTitle{
    font-size: 13px;
    letter-spacing: 1px;
}
.search{
    margin-left: 8%;
    input{
        width: 100%;
        padding: 10px 20px 8px;
        color: #000000;
        box-sizing: border-box;
        border-radius: 30px;
        border: none;
        font-size: 0.875rem;
        box-shadow: 0 10px 5px 0 rgba(33,43,53,.2), 0 -2px 8px 0 rgba(33,43,53,.12);
        &:focus{outline: none;}
    }
}
.btn-header{
    background-color: #196082 !important;
    color: #ffffff !important;
    border: 1px solid #ffffff  !important;
    &:hover,&:active,&:focus{
        color: #196082 !important;
        background-color: #ffffff !important;
        border: 1px solid #ffffff !important;
    }
}